article, aside, details, figcaption, figure, footer, header,
hgroup, menu, nav, section { 
  display: block; 
}
body {
  background-color: #260b52;
}
h1 {
  text-align: center;
  background: linear-gradient(90deg,rgba(227, 44, 230, 1) 35%, rgb(131, 13, 216) 51%, rgba(144, 213, 255, 1) 53%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p {
  text-align: center;
  color: white;
}
canvas {
  display: block;
  margin: 0 auto;
  background-color: #6c0fdd;
}

.button-cont {
    display: grid;
    margin-top: 15%;
}

button {
    width: 100px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    background: linear-gradient(90deg,rgba(227, 44, 230, 1) 22%, rgba(146, 14, 240, 1) 52%, rgba(144, 213, 255, 1) 75%);
}

h2 {
    color:rgba(144, 213, 255, 1) ;
    justify-self: center;
    margin-top: 80px;
    
}